In [3]:
import osmnx as ox


import matplotlib.pyplot as plt

import networkx as nx

import pandas as pd

import numpy as np

import matplotlib.cm as cm

import csv


from shapely import geometry

import os
import time
import glob

folder = 'data/Consumenten_data/'
files = glob.glob(folder+'*consumptie*')
files

for f in files:
    print("'"+f.split('/')[-1]+"'",end=', ')

'consumptie-van-vleesproducten-naar-geslacht.csv', 'consumptie-van-eieren-naar-geslacht.csv', 'consumptie-van-aardappelen-naar-geslacht.csv', 'consumptie-van-brood,-granen,-rijst-en-pasta-naar-geslacht.csv', 'consumptie-van-groenten-naar-geslacht.csv', 'consumptie-van-zuivelproducten-naar-geslacht.csv', 'consumptie-van-peulvruchten-naar-geslacht.csv', 'consumptie-van-fruit,-noten-en-olijven-naar-geslacht.csv', 'gemiddelde-consumptie-per-dag-door-jongens_mannen-naar-leeftijd.csv', 'gemiddelde-consumptie-in-grammen-per-dag.csv', 'gemiddelde-consumptie-per-dag-door-meisjes_vrouwen-naar-leeftijd.csv',

In [17]:
dfs = []
for f in files:
    df = pd.read_csv(f,sep=';')
    dfs.append(df)

In [19]:
from IPython.display import display

for df,f in zip(dfs,files):
    print(f.split('/')[-1])
    display(df)

consumptie-van-vleesproducten-naar-geslacht.csv

,Category,Vlees(producten) overig,Rundvlees,Varkensvlees,Kip en kalkoen,Bewerkt vlees voor de warme maaltijd,Vleeswaren,Vleesvervangers
0,Totale bevolking 1-79 jaar,7.9,12.2,13.0,16.4,26.0,21.1,1.5
1,Jongens/Mannen 1-79 jaar,9.8,14.2,15.5,18.2,29.7,26.0,1.7
2,Meisjes/Vrouwen 1-79 jaar,5.9,10.2,10.5,14.5,22.4,16.2,1.4

consumptie-van-eieren-naar-geslacht.csv

                     Category  Eieren
0  Totale bevolking 1-79 jaar    12.7
1    Jongens/Mannen 1-79 jaar    13.7
2   Meisjes/Vrouwen 1-79 jaar    11.6

consumptie-van-aardappelen-naar-geslacht.csv

                     Category  Aardappelen
0  Totale bevolking 1-79 jaar         72.1
1    Jongens/Mannen 1-79 jaar         83.5
2   Meisjes/Vrouwen 1-79 jaar         60.6

consumptie-van-brood,-granen,-rijst-en-pasta-naar-geslacht.csv

,Category,Brood en granen overig,"Pasta, rijst, graanproducten",Brood,"Beschuit, cracker, knäckebröd",Ontbijtgranen
0,Totale bevolking 1-79 jaar,8.5,47.1,125.6,5.3,7.4
1,Jongens/Mannen 1-79 jaar,9.4,55.3,146.2,4.5,7.5
2,Meisjes/Vrouwen 1-79 jaar,7.5,38.8,104.8,6.2,7.3

consumptie-van-groenten-naar-geslacht.csv

,Category,Gemengde groenten,Bladgroenten,Vruchtgroenten,Knol- en wortelgroenten,Koolsoorten,Paddenstoelen,"Erwten, maïs, tuinbonen","Ui, prei, knoflook",Stengel- en spruitgroenten
0,Totale bevolking 1-79 jaar,11.8,19.2,48.4,12.3,19.4,2.9,2.5,11.8,2.6
1,Jongens/Mannen 1-79 jaar,12.6,18.9,44.8,12.0,20.7,2.9,2.2,12.5,2.4
2,Meisjes/Vrouwen 1-79 jaar,11.0,19.6,51.9,12.5,18.1,2.9,2.9,11.2,2.9

consumptie-van-zuivelproducten-naar-geslacht.csv

,Category,Zuivel overig,"Melk, melkdranken ongefermenteerd","Karnemelk, melkdranken gefermenteerd",Zuivelvervangers,Yoghurt,Kwark,Kaas,"Vla, pap, pudding, mousse","Room, koffiemelk",IJs
0,Totale bevolking 1-79 jaar,1.7,147.4,53.2,8.4,53.7,11.4,32.6,26.3,7.1,9.8
1,Jongens/Mannen 1-79 jaar,2.3,169.0,55.2,6.2,50.0,10.4,35.6,32.4,7.4,11.0
2,Meisjes/Vrouwen 1-79 jaar,1.1,125.6,51.3,10.6,57.5,12.4,29.5,20.1,6.8,8.5

consumptie-van-peulvruchten-naar-geslacht.csv

                     Category  Peulvruchten
0  Totale bevolking 1-79 jaar           4.5
1    Jongens/Mannen 1-79 jaar           4.6
2   Meisjes/Vrouwen 1-79 jaar           4.5

consumptie-van-fruit,-noten-en-olijven-naar-geslacht.csv

,Category,Fruit en noten gemengd,Fruit,Vruchtencompôte,Noten en zaden,"Pindakaas, notenspread",Olijven
0,Totale bevolking 1-79 jaar,0.4,113.4,5.7,5.7,4.0,0.6
1,Jongens/Mannen 1-79 jaar,0.4,102.0,6.0,6.8,5.2,0.7
2,Meisjes/Vrouwen 1-79 jaar,0.4,124.9,5.3,4.5,2.8,0.5

gemiddelde-consumptie-per-dag-door-jongens_mannen-naar-leeftijd.csv

,leeftijdsgroep (jaar),Aardappelen,Groente,Peulvruchten,"Fruit, noten en olijven",Zuivel,"Brood, granen, rijst, pasta",Vlees(producten),"Vis, schaal- en schelpdieren",Eieren,Vetten en oliën,Suiker en snoepgoed,Koek en gebak,Niet-alcoholische dranken,Alcoholische dranken,Sauzen en smaakmakers,Bouillon,Diversen,Hartige snacks
0,1-3,38.5,57.0,1.6,162.6,422.7,115.0,41.2,4.4,5.1,13.1,19.7,20.7,574.9,0.0,7.4,7.0,0.1,6.7
1,4-8,49.4,72.4,2.2,137.5,404.8,157.7,62.5,5.9,8.1,15.2,39.6,33.7,797.9,0.0,17.6,9.2,0.2,11.5
2,9-13,66.3,79.7,3.7,98.9,403.4,201.6,95.5,6.6,8.8,20.5,43.5,45.9,1146.9,0.0,29.7,21.0,0.0,28.4
3,14-18,89.3,102.9,2.7,84.6,368.5,236.8,128.7,8.5,9.9,22.4,41.2,46.9,1447.3,106.3,37.0,27.5,2.2,34.7
4,19-30,79.1,142.1,7.4,105.0,378.1,268.1,123.4,15.4,12.2,24.8,31.7,34.5,2005.0,261.1,50.0,28.5,6.8,38.2
5,31-50,84.4,131.5,3.6,110.1,355.4,247.1,129.1,18.4,12.9,27.6,36.8,49.5,1853.8,277.6,50.1,50.0,4.9,28.9
6,51-70,97.3,146.9,4.8,135.3,394.6,211.9,119.5,22.1,18.6,29.9,31.9,47.7,1711.3,268.6,41.0,60.1,1.7,19.4
7,71-79,101.4,172.6,6.8,165.7,364.8,176.3,110.9,23.2,18.8,27.0,29.0,46.7,1430.2,236.5,35.3,67.2,1.6,11.0

gemiddelde-consumptie-in-grammen-per-dag.csv

,Category,Niet-alcoholische dranken,Zuiveldranken,Alcoholische dranken,"Brood, granen, rijst, pasta",Zuivel-niet dranken,Groente,"Fruit, noten en olijven",Vlees(producten),Aardappelen,Bouilon,Koel en gebak,Sauzen en smaakmakers,Suiker en snoepgoed,Vetten en olien,Hartige snacks,"Vis, schaal- en schelpdieren",Eieren,Peulvruchten
0,dranken,1708.0,201.0,139.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,voedsel,NaN,NaN,NaN,194.0,151.0,131.0,130.0,98.0,72.0,43.0,41.0,35.0,30.0,22.0,21.0,16.0,13.0,5.0

gemiddelde-consumptie-per-dag-door-meisjes_vrouwen-naar-leeftijd.csv

,leeftijdsgroep (jaar),Aardappelen,Groente,Peulvruchten,"Fruit, noten en olijven",Zuivel,"Brood, granen, rijst, pasta",Vlees(producten),"Vis, schaal- en schelpdieren",Eieren,Vetten en oliën,Suiker en snoepgoed,Koek en gebak,Niet-alcoholische dranken,Alcoholische dranken,Sauzen en smaakmakers,Bouillon,Diversen,Hartige snacks
0,1-3,37.4,56.1,2.1,146.4,378.0,102.6,39.5,6.0,6.7,12.0,18.4,19.4,605.4,NaN,8.8,7.5,0.0,6.9
1,4-8,43.1,71.8,1.0,136.5,368.0,141.5,57.0,6.1,7.5,14.9,31.9,34.1,818.7,NaN,16.9,11.3,0.4,12.6
2,9-13,65.2,89.5,2.8,110.3,325.1,173.7,77.1,5.6,10.5,17.6,38.4,43.9,1108.0,NaN,27.4,22.6,1.8,22.8
3,14-18,64.4,86.5,2.9,105.8,277.0,176.9,79.1,8.4,11.7,14.6,27.3,46.7,1410.0,17.6,28.3,26.2,0.5,24.8
4,19-30,55.6,126.0,3.7,133.1,318.4,189.4,84.8,12.7,13.5,17.0,25.4,34.5,1966.0,70.7,34.3,44.3,2.0,23.7
5,31-50,58.5,141.3,6.4,131.0,326.1,176.4,86.0,15.1,10.7,19.1,25.7,37.3,2057.0,55.7,34.3,42.1,7.8,16.2
6,51-70,67.6,159.3,4.0,149.9,313.9,152.9,84.2,24.2,12.3,21.0,22.4,39.9,1984.0,95.1,28.9,54.0,10.9,12.2
7,71-79,70.4,167.5,7.2,179.0,328.6,138.6,83.2,17.8,14.5,20.5,25.5,44.7,1614.0,84.4,23.5,55.0,1.2,8.1

## Huishoudens

In [20]:
folder = 'data/data_overheid_wms/postcode_stats'

import geopandas as gpd

gdf = gpd.read_file(folder+"/postcode_stats.geojson")
gdf.crs = 'EPSG:28992'

print(list(gdf.columns))
gdf.head()
gdf.index = gdf['index']
gdf = gdf.to_crs('EPSG:4326')

def get_numbers(df_col):
    df_col.replace('-99997',0,inplace=True)
    df_col = df_col.apply(lambda x: int(x) if type(x) == str else x)
    df_col[df_col<0]=0
    return df_col

cols = ['INWONER','MAN', 'VROUW','INW_014', 'INW_1524', 'INW_2544', 'INW_4564', 'INW_65PL', 'TOTHH_EENP', 'TOTHH_MPZK', 'HH_EENOUD', 'HH_TWEEOUD','GEM_HH_GR', 'AANTAL_HH']

for col in cols:
    print(col)
    gdf[col] = get_numbers(gdf[col])
    print(gdf[col].sum())

['index', 'Postcode', 'INWONER', 'MAN', 'VROUW', 'INW_014', 'INW_1524', 'INW_2544', 'INW_4564', 'INW_65PL', 'GEBOORTE', 'P_NL_ACHTG', 'P_WE_MIG_A', 'P_NW_MIG_A', 'AANTAL_HH', 'TOTHH_EENP', 'TOTHH_MPZK', 'HH_EENOUD', 'HH_TWEEOUD', 'GEM_HH_GR', 'WONING', 'WONVOOR45', 'WON_4564', 'WON_6574', 'WON_7584', 'WON_8594', 'WON_9504', 'WON_0514', 'WON_1524', 'WON_MRGEZ', 'P_HUURWON', 'P_KOOPWON', 'WON_HCORP', 'WON_NBEW', 'WOZWONING', 'G_GAS_WON', 'G_ELEK_WON', 'M_INKHH', 'UITKMINAOW', 'AFS_SUPERM', 'AV1_SUPERM', 'AV3_SUPERM', 'AV5_SUPERM', 'AFS_DAGLMD', 'AV1_DAGLMD', 'AV3_DAGLMD', 'AV5_DAGLMD', 'AFS_WARENH', 'AV5_WARENH', 'AV10WARENH', 'AV20WARENH', 'AFS_CAFE', 'AV1_CAFE', 'AV3_CAFE', 'AV5_CAFE', 'AFS_CAFTAR', 'AV1_CAFTAR', 'AV3_CAFTAR', 'AV5_CAFTAR', 'AFS_HOTEL', 'AV5_HOTEL', 'AV10_HOTEL', 'AV20_HOTEL', 'AFS_RESTAU', 'AV1_RESTAU', 'AV3_RESTAU', 'AV5_RESTAU', 'AFS_BSO', 'AV1_BSO', 'AV3_BSO', 'AV5_BSO', 'AFS_KDV', 'AV1_KDV', 'AV3_KDV', 'AV5_KDV', 'AFS_BRANDW', 'AFS_OPRIT', 'AFS_TRNOVS', 'AFS_TREINS', 'AFS_ATTRAC', 'AV10ATTRAC', 'AV20ATTRAC', 'AV50ATTRAC', 'AFS_BIOS', 'AV5_BIOS', 'AV10_BIOS', 'AV20_BIOS', 'AFS_MUS', 'AV5_MUS', 'AV10_MUS', 'AV20_MUS', 'AFS_PODIUM', 'AV5_PODIUM', 'AV10PODIUM', 'AV20PODIUM', 'AFS_BIBLIO', 'AF_IJSBAAN', 'AFS_POP', 'AFS_SAUNA', 'AFS_ZONBNK', 'AFS_ZWEMB', 'AFS_ONDBAS', 'AV1_ONDBAS', 'AV3_ONDBAS', 'AV5_ONDBAS', 'AFS_ONDHV', 'AV3_ONDHV', 'AV5_ONDHV', 'AV10_ONDHV', 'AFS_ONDVMB', 'AV3_ONDVMB', 'AV5_ONDVMB', 'AV10ONDVMB', 'AFS_ONDVRT', 'AV3_ONDVRT', 'AV5_ONDVRT', 'AV10ONDVRT', 'AFS_HAPRAK', 'AV1_HAPRAK', 'AV3_HAPRAK', 'AV5_HAPRAK', 'AFS_ZIEK_E', 'AV5_ZIEK_E', 'AV10ZIEK_E', 'AV20ZIEK_E', 'AFS_ZIEK_I', 'AV5_ZIEK_I', 'AV10ZIEK_I', 'AV20ZIEK_I', 'AFS_APOTH', 'AFS_HAPOST', 'geometry']
INWONER
1307605
MAN
638505
VROUW
662775
INW_014
208395
INW_1524
131690
INW_2544
328345
INW_4564
337485
INW_65PL
182755
TOTHH_EENP
194630
TOTHH_MPZK
115775
HH_EENOUD
8610
HH_TWEEOUD
129240
GEM_HH_GR
65596.59999999999
AANTAL_HH
581560

In [34]:
pop_cols = ['INWONER','MAN', 'VROUW','INW_014', 'INW_1524', 'INW_2544', 'INW_4564', 'INW_65PL']
df_sum = pd.DataFrame(index=pop_cols,columns=['aantal'])
for col in pop_cols:
    print(col)
    df_sum.loc[col,'aantal'] = gdf[col].sum()

INWONER
MAN
VROUW
INW_014
INW_1524
INW_2544
INW_4564
INW_65PL

In [36]:
df_sum/df_sum.iloc[0]

            aantal
INWONER        1.0
MAN       0.488301
VROUW     0.506862
INW_014   0.159372
INW_1524  0.100711
INW_2544  0.251104
INW_4564  0.258094
INW_65PL  0.139763